@use "../helpers" as *;

.about-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
  flex-grow: 1;

  &__title {
    display: flex;
    align-items: center;
    font-family: var(--font-family-base);
    font-weight: 600;
    @include fluid-text(22, 16);
    
  }
}
