@use "../helpers" as *;
.about {
  padding-block: fluid(120, 40);
  background-color: var(--color-dark-10);
  &__inner {
    display: grid;
    row-gap: fluid(100, 40);
  }
  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(30) fluid(80, 20);
    grid-template-areas: "icon info" "icon description";

    @include laptop {
      row-gap: rem(20);
    }

    @include mobile {
      grid-template-areas: "icon subtitle" "title title" "description description";

      row-gap: rem(4);
    }
  }

  &__icon {
    width: fluid(150, 60);
    grid-area: icon;
    align-self: center;
  }

  &__info {
    display: grid;
    row-gap: rem(16);

    @include laptop {
      row-gap: rem(10);
    }

    @include mobile {
      display: contents;
    }
  }

  &__title {
    @include mobile {
      grid-area: title;
      margin-top: rem(20);
    }
  }

  &__subtitle {
    justify-self: start;
    align-self: center;
    @include mobile {
      grid-area: subtitle;
    }
  }

  &__description {
    @include mobile {
      grid-area: description;
      font-size: 0;
      &::after {
        font-size: rem(14);
        content: "Immerse yourself in the world of future technology. Explore our comprehensive resources.";
      }
    }
  }
  &__list {
    display: grid;
    background-color: var(--color-dark);
    padding: rem(20);
    gap: rem(20);
    border-radius: rem(12);
    border: var(--border);

    @include mobile-above {
      grid-template-columns: repeat(3, 1fr);
    }

    @include laptop {
      padding: rem(10);
      gap: rem(10);
      border-radius: rem(10);
    }
  }
  &__item {
    display: flex;
  }
}
