@use "../helpers" as *;

.blog-details {
  &__banner {
    --bgImg: url(../images/blog-details/1.jpg);
    display: flex;
    align-items: end;
    min-height: fluid(598, 281);
    background:
      linear-gradient(
        180deg,
        rgba(20, 20, 20, 0) 0%,
        rgba(20, 20, 20, 0.88) 75.52%,
        #141414 100%
      ),
      var(--bgImg) center / cover no-repeat;
    padding-block: fluid(65, 17);
    text-align: center;
    border-bottom: var(--border);
  }
  &-title {
    @include fluid-text(64, 28);
  }

  &__body-inner {
    display: grid;

    @include mobile-above {
      grid-template-columns: 1fr rem(520);
    }

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__content {
    @include mobile-above {
      border-right: var(--border);
    }
  }
  &__intro {
    display: grid;
    row-gap: rem(14);
    .h6 {
      font-weight: 500;
      font-family: var(--font-family-base);
    }
    @include laptop {
      row-gap: rem(6);
    }
    @include mobile {
 
        @include full-vw-line-center(bottom);
    
    }
  }
  &__intro,
  &__main {
    padding-block: fluid(80, 40);
    padding-right: fluid(80, 24);
  }
  &__intro,
  &__actions {
    @include mobile-above {
      border-bottom: var(--border);
    }
  }

  &__actions {
    padding-block: fluid(50, 20);
    padding-inline: fluid(80, 54);
    @include mobile {
      &::after {
        left: 50%;
        width: 100vw;
        translate: -50%;
      }
    }
  }

  &__main {
    display: grid;
    row-gap: fluid(24, 6);

    p {
      margin-bottom: 0;
    }
    --initialMaxHeight: #{fluid(741, 669)};
  }

  &__body {
    border-bottom: var(--border);
  }
}
