@use "../helpers" as *;

.field {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: start;
  font-size: rem(18);
  font-weight: 500;
  color: var(--color-light);

  @include laptop {
    row-gap: rem(12);
    font-size: 1rem;
  }

  &__body {
    display: flex;
    width: 100%;
    column-gap: 1rem;

    @include laptop {
      column-gap: rem(12);
    }
  }

  &__control {
    width: 100%;
    height: rem(67);
    padding: rem(20);
    border: var(--border);
    border-radius: rem(8);
    background-color: var(--color-dark-10);
    color: var(--color-light);

    @include hover {
      box-shadow: var(--shadow);
      border-color: var(--color-accent);
    }

    &::placeholder {
      color: var(--color-dark-40);
    }
    @include laptop {
      height: rem(53);
      padding: 1rem;
      border-radius: rem(6);
    }
  }

  &__required-star {
    color: var(--color-red);
  }
  textarea.field__control {
    padding-block: rem(20);
    resize: vertical;
    min-height: rem(163);

    @include laptop {
      padding-block: rem(16);
    }

    @include mobile {
      min-height: rem(127);
    }
  }
}
