@use "../helpers" as *;

.metrics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    display: flex;
    flex-direction: column-reverse;
    row-gap: rem(10);
    padding: rem(50);

    @include laptop {
      padding: rem(30) rem(40);
      row-gap: rem(2);
    }

    @include tablet {
      row-gap: 0;
      padding: rem(20);
    }

    &:first-child {
      padding-left: 0;
    }
    &:not(:last-child) {
      border-right: var(--border);
    }
  }

  &__value {
    font-weight: 600;
  }
  &__sign {
    position: relative;
    color: var(--color-accent);
  }

  &.metrics--4-cols {
    .metrics__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .metrics__item {
      display: flex;
      align-items: center;
      white-space: nowrap;
      @include mobile {
        border-bottom: var(--border);
        border-inline: var(--border);
        &:nth-child(1),
        &:nth-child(3) {
          margin-right: 0;
        }
        &:nth-child(2),
        &:nth-child(4) {
          margin-left: 0;
        }
        margin-inline: -1rem;
      }
    }
    @include mobile-above {
      @include full-vw-line-center(bottom);
    }
  }
}
