@use "../helpers" as *;

.table-of-contents {
  margin-top: fluid(16, 10);
  padding: rem(20);
  background-color: var(--color-dark-10);
  border-radius: rem(12);
  @include laptop {
    padding: rem(18);
    border-radius: rem(10);
  }

  &__list {
    margin-left: rem(20);
    display: grid;
    row-gap: rem(20);

    @include laptop {
      margin-left: rem(18);
      row-gap: rem(16);
    }
  }

  &__item {
    list-style: disc;
  }
}
